.main_container{
    margin-left:50px;
    margin-right:50px;
}
.content_block{
    margin-top: 20px;
    margin-bottom:20px;
}
.main_container img{
    width:300px;
    height:300px;

}
.main_container .img{
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
}
.title{
    text-align: center;
    margin-top: 20px;
}
h2{
    margin-top: 30px;
    margin-bottom:20px;
}
li{
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 60px;
}