:root {
    --primary-color: #007bff; /* Màu chủ đạo */
    --dark-color: #333;
    --light-color: #f4f4f4;
    --text-color: #555;
    --container-width: 1200px;
}
.combo_container{
    margin: 20px;
}

.combo_container .combo{
    width: 300px;
    border: 1px black solid;
}
.combo_container .combo img{
    max-width: 100%;
    height: 300px;
}


