/* ===== CÀI ĐẶT CHUNG & BIẾN ===== */
:root {
    --primary-color: #007bff; /* Màu chủ đạo */
    --dark-color: #333;
    --light-color: #f4f4f4;
    --text-color: #555;
    --container-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);

}

a {
    text-decoration: none;
    color: var(--primary-color);
}

img {
    width: 90%;
    height: 400px;
    border: 10px solid var(--light-color);
    border-radius: 10px;
}
h1{
    margin-bottom: 20px;
    margin-top: 10px;
}
.main-content{

   margin : 0px 50px 0px 50px
}
.section-padding {
    padding: 50px 0;
}

.section-title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: var(--dark-color);
}


.content{
    font-size: x-large;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold ;
}
.introduce{
    font-size: large;
    margin-bottom: 20px;
}
ul{
    margin-left: 50px;
    font-weight: normal;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    border: none;
}
.btn-primary {
    background-color: var(--primary-color);
}

.hero-slide {
    height: 500px; /* Chiều cao cố định cho banner */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
.hero-content {
    background: rgba(0, 0, 0, 0.5); /* Lớp nền mờ để nổi text */
    padding: 30px;
    border-radius: 10px;
}


.swiper {
    width: 100%;
    height: 100%;
}

#bestseller-slider .swiper-button-next,
#bestseller-slider .swiper-button-prev {
    color: var(--primary-color);
}
