:root {
    --primary-color: #007bff; /* Màu chủ đạo */
    --dark-color: #333;
    --light-color: #f4f4f4;
    --text-color: #555;
    --container-width: 1200px;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    margin: 0px ;



}
.container{
    width: 100%;

    margin: 0px ;


}
.menu{
    background: var(--dark-color);
    height: 40px;
    line-height: 40px;

}
.menu a{
    margin-left: 10px;

    color: var(--light-color);
    text-decoration: none;
}
.Showroom-banner{
    width: 100%;
    height: 500px;
    align-content: center;

}
.Trans_to_point{
    background: gray;
    display: flex ;
    gap: 100px;
    justify-content: center;
    text-align: center;


}
.Trans_to_point a {
    text-decoration: none;
    color: var(--light-color);
    background: var(--primary-color);
    border-radius: 5px;
    width: 300px;
    height: 40px;
    align-content: center;


}
.btn-slider{
    border: none;
    background: #ffff;
    font-size: xxx-large;

}
.btn-slider:hover{
    text-shadow: 0px 0px 5px black;
    cursor: pointer;
}
.right-btn{
    float: right;
    margin-right: 10px;
}
.left-btn{
    float: left;
    margin-left: 10px;
}
.container1{
    width: 1200px;
    height: 400px;
    margin-top : 10px;
    margin-left: 160px;
    border: 1px solid black;
    text-align: center;
}
.showroom-img{
    width: 100%;

}
.content{
    width: 100%;
    height: 200px;

}

