:root {
    --primary-color: #007bff; /* Màu chủ đạo */
    --dark-color: #333;
    --light-color: #f4f4f4;
    --text-color: #555;
    --container-width: 1200px;
}
main{
    max-width: 1200px;
    margin: auto;
}
.main_container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 30px 10px;
    height: 300px;
    border: lightgray solid 5px;
    border-radius: 10px;
    line-height: 70px;
}
h1{
    font-weight: bold;
}


.check_bnt div{
    display: inline-block;
    margin-left: 100px;
    font-size: 20px;
}
.check_bnt div input[type = "radio"]{
    transform: scale(1.5);
}
.searh{
    display: flex;
}
.main_container input[type = "text"]{
    width: 500px;
    height: 50px;
    border: none;
    padding-left: 7px;
    border: 1px solid #ccc;
    border-right: none;

}

.main_container button{
    height: 50px;
    width: 60px;
    background: var(--primary-color);
    color: var(--light-color);
    font-size: 15px;
    border: none;

}
.main_container button:hover{
    cursor: pointer;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
table, th, td {
    border: 1px solid #333;

}
th{
    font-weight: bold;
    text-align: center;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--light-color);

}
td{
    padding-left: 5px;
    height: 35px;
}

