
.login {
    width: 420px;
    margin: 40px auto;
    padding: 40px 36px;

    background: #fff;
    border: 4px solid #1677ff;
    border-radius: 28px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}



.login h1 {
    margin-bottom: 20px;
}

.login .input_group {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.login .input_group input {
    width: 100%;
    padding: 12px 14px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ddd;
    outline: none;
    transition: border-color 0.2s;
}

.login .input_group input:focus {
    border-color: #1677ff;
}


.login .register_button {
    margin-top: 16px;
    width: 100%;
    padding: 12px;
    background: #1677ff;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.login .register_button:hover {
    background: #0958d9;
}

/* link chuyá»ƒn login */
.login p {
    font-size: 14px;
}

.login p a {
    color: #1677ff;
    font-weight: 500;
    text-decoration: none;
}

.login p a:hover {
    text-decoration: underline;
}

/* error message */
.login .error-msg {
    color: red;
    text-align: center;
    margin-bottom: 12px;
    font-size: 14px;
}
